body {
    padding-top: 50px;
    color: #575656;
}

.navbar-inverse {
    background: #0066ad;
    border-color: #0066ad;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #0066ad;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}