<div ng-controller="PatientsController">
    <h3 class="text-muted">Novo lote</h3>
    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active"><a href="#step-1">
                    <h4 class="list-group-item-heading">Passo 1</h4>
                    <p class="list-group-item-text">Selecionar Guias</p>
                </a></li>
                <li class="disabled"><a href="#step-2" ng-click="$event.preventDefault()">
                    <h4 class="list-group-item-heading">Passo 2</h4>
                    <p class="list-group-item-text">Gerar Lote</p>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-xs-12">
                <multiselect placeholder="Selecionar guia..."
                   ms-model="procedureSelected"
                   ms-config="multiselect.config"
                   ms-options="multiselect.options">
                </multiselect>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12">
            <a href="#/step-3" class="btn btn-primary pull-right" ng-click="save()">Salvar</a>
        </div>
    </div>
</div>
