<h3>Gerar guia</h3>
<div class="row form-group">
    <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail setup-panel">
            <li class="active"><a href="#step-1">
                <h4 class="list-group-item-heading">Passo 1</h4>
                <p class="list-group-item-text">Selecionar paciente</p>
            </a></li>
            <li class="disabled"><a href="#step-2">
                <h4 class="list-group-item-heading">Passo 2</h4>
                <p class="list-group-item-text">Selecionar procedimento</p>
            </a></li>
            <li class="disabled"><a href="#step-3">
                <h4 class="list-group-item-heading">Passo 3</h4>
                <p class="list-group-item-text">Gerar guia</p>
            </a></li>
        </ul>
    </div>
</div>